<script type="config">
{
    props: ["resource"],
    data: {
        data: resource.data,
        length: resource.data.answer.length
    },
    components: {
        Section: "components/duer/section",
        ListItem: "components/duer/listItem",
        DcsImage: "components/duer/dcsImage",
        Container: "components/container",
        Link: "components/link",
        Image: "components/image",
        Text: "components/text",
        InlineText: "components/inlineText"
    }
}
</script>

<script type="php">

</script>

<template>
    <Section class="head general" data-from="server">

      <!-- 单条有图和无图 -->
       <template a-if="length == 1">
           <template a-if="data.answer[0].image">
              <Container class="result c-result">
                  <Container class="c-container phone-color">
                      <Container class="c-title c-gap-top-small">
                            <Link :href="data.source_link" class="wa-ks-general-inline">
                                <InlineText class="c-color-link">{{data.title}}&nbsp;{{data.answer[0].value}}</InlineText>
                            </Link>
                        </Container>
                      <Container class="c-blocka c-row c-gap-bottom-small c-gap-top-small">
                           <Link  class="c-blocka c-span4">
                               <Container class="c-img c-img-s">
                                   <Image :src="data.answer[0].image">
                               </Container>
                           </Link>
                           <Container class="wa-ks-general-lineheight18 c-span8">
                               <Link href="" class="c-blocka">
                                   <Container class="c-line-clamp3 wa-ks-general-bottom-margin3 wa-ks-general-name c-gap-top-small c-color-link  wa-ks-general-fontSize24">
                                      <!-- {{data.answer[0].value}} -->
                                  </Container>
                                  <Container a-if="data.answer[0].summary.value" class="c-line-clamp4 c-abstract">
                                    {{data.answer[0].summary.value}}
                                  </Container>
                               </Link>
                           </Container>
                      </Container>
                      <Link a-if="data.source_link" :href="data.source_link" class="stand-more">
                           {{data.source_name}}
                           <InlineText class="ability-icon-more">&#xe649;</InlineText>
                      </Link>
                  </Container>
              </Container>
           </template>
           <template a-else>
                <Container class="avatar"></Container>
                <Container class="bubble-container">
                    <Text class="bubble guide">
                        <InlineText>{{data.title}}：</InlineText>
                        {{data.answer[0].value}}
                    </Text>
                    <Link a-if="data.source_link" :href="data.source_link" class="stand-more">
                        {{data.source_name}}
                        <InlineText class="ability-icon-more">&#xe649;</InlineText>
                    </Link>
                </Container>
           </template>
       </template>

      <!-- 多条有图和无图 -->
       <template a-else-if="length > 1">

         <!-- 多条有图 -->
          <template a-if="data.answer[0].image">
              <!-- 多条小于10 -->
              <Container a-if="length <= 10" class="c-container phone-color">
                <Container class="c-row-tile c-scroll-wrapper c-gap-top-small wa-sigma-cere-wrapper wa-sigma-cere-wrapper-4 restaurant">
                  <Container class="c-scroll-touch">
                    <Container class="wa-sigma-celebrity-rela-scroller"
                    :style="{'width': (97 * 4 / 1140 * 100) * length + '%'}"
                    >
                        <template a-for="(item, index) in data.answer">
                            <Container class="wa-sigma-celebrity-rela-entity"
                            :style="{'padding-right': (24 / 97 / 4 / length) * 100 + '%', 'width': (100 / length) + '%'}">
                                <Container class="c-img res-img" style="background: none;">
                                    <Image :src="item.image" />
                                </Container>
                                <Container class="wa-sigma-celebrity-rela-name c-line-clamp2">{{item.value}}</Container>
                                <Container class="wa-sigma-celebrity-rela-reason c-color-gray c-line-clamp2" a-if="item.summary.value">
                                  {{item.summary.value}}</Container>
                            </Container>
                        </template>
                    </Container>
                  </Container>
                </Container>


              <!-- 多条大于10 -->
              <template a-else>
                <Container class="wa-sigma-celebrity-rela-scroller"
                :style="{'width': (97 * 4 / 1140 * 100) * 10}"
                >
                    <template a-for="(item, index) in data.answer" a-if="index < 10">
                        <Container class="wa-sigma-celebrity-rela-entity"
                        :style="{'padding-right': (24 / 97 / 4 / 10) * 100 + '%', 'width': (100 / 10) + '%'}">
                          <Container class="c-img res-img" style="background: none;">
                              <Image :src="item.image" />
                          </Container>
                          <Container class="wa-sigma-celebrity-rela-name c-line-clamp2">{{item.value}}</Container>
                          <Container a-if="item.summary.value" class="wa-sigma-celebrity-rela-name c-line-clamp2" >{{item.summary.value}}</Container>
                        </Container>
                    </template>
                </Container>
              </template>

                <Link a-if="data.source_link" :href="data.source_link" class="stand-more">
                   {{data.source_name}}
                   <InlineText class="ability-icon-more">&#xe649;</InlineText>
                </Link>
              </Container>
          </template>

          <!-- 多条无图 -->
          <template a-else>
            <!-- fix不是多列表形式 -->
            <Container class="avatar"></Container>
            <Container class="bubble-container">
               <Text class="bubble guide">
                   <InlineText>{{data.title}}：</InlineText>
                    <template a-for="(item, index) in data.answer">
                        <template a-if="index < data.answer.length-1">
                            <InlineText>{{item.value}}，</InlineText>
                        </template>
                        <template a-else>
                            <InlineText>{{item.value}}</InlineText>
                        </template>
                    </template>
                    <Link a-if="data.source_link" :href="data.source_link" class="stand-more">
                        {{data.source_name}}
                        <InlineText class="ability-icon-more">&#xe649;</InlineText>
                    </Link>
               </Text>

            </Container>

        <!--     <Container class="c-container phone-color">
                <Container class="c-gap-top-small c-gap-bottom wa-wenda-abstract-font">
                  <InlineText>{{data.title}}：</InlineText>
                  <template a-for="(item, index) in data.answer">
                      <template a-if="index < data.answer.length-1">
                          <InlineText>{{item.value}}，</InlineText>
                      </template>
                      <template a-else>
                          <InlineText>{{item.value}}</InlineText>
                      </template>
                  </template>
                </Container>

                <Link a-if="data.source_link" :href="data.source_link"  class="stand-more">
                    <InlineText>{{data.source_name}}</InlineText>
                    <InlineText class="ability-icon-more">&#xe649;</InlineText>
                </Link>
            </Container> -->

          </template>

       </template>

    </Section>
</template>
