<script type="config">
{
    props: ["resource"],
    data: {
        data: resource.data
    },
    components: {
        Section: "components/duer/section",
        ListItem: "components/duer/listItem",
        DcsImage: "components/duer/dcsImage",
        Container: "components/container",
        Link: "components/link",
        Image: "components/image",
        Text: "components/text",
        InlineText: "components/inlineText"
    }
}
</script>

<script type="php">
    function filter_removeSecond($val) {
        $lastPos = strripos($val, ":");

        $val = substr($val, 0, $lastPos);

        return $val;
    }

</script>

<template>
    <Section class="head time" data-from="server">
        <template a-if="data.country == 'china'">
            <Container class="result c-result c-clk-recommend">
                <Container class="c-container phone-color">
                    <Container class="wa-worldtime-time-con c-gap-top-small">
                        <InlineText class="wa-worldtime-time" a-if="data.specific_time">{{data.specific_time | removeSecond}}</InlineText>
                        <InlineText class="wa-worldtime-time wa-worldtime-second" a-else="data.specific_time">{{data.weekday}}</InlineText>

                        <!-- <InlineText class="c-gap-left wa-worldtime-second">09</InlineText> -->
                    </Container>
                    <Container class="c-abstract c-gap-top-small">
                        <InlineText class="wa-worldtime-week">{{data.weekday}}</InlineText>
                        <InlineText class="c-gap-left-small wa-worldtime-date">{{data.solar_calendar}}</InlineText>
                        <InlineText class="wa-worldtime-slow c-gap-left-small"></InlineText>
                        <InlineText class="wa-worldtime-slower wa-worldtime-slow"></InlineText>
                        <InlineText class="wa-worldtime-slow"></InlineText>
                    </Container>
                    <Container a-if="data.specific_time" class="c-color-gray">
                        中国首都北京时间
                        <InlineText class="wa-worldtime-summer-time"></InlineText>
                        <!-- _时间校准 -->
                    </Container>
                </Container>
            </Container>
        </template>
        <template a-else>
            <template a-if="data.speech">
                <Container class="avatar"></Container>
                <Container class="bubble-container">
                    <Text class="bubble guide">
                        {{data.speech}}
                    </Text>
                </Container>
            </template>
        </template>
    </Section>
</template>
