.box-item {
    display: flex;
    min-height: 200px;
}
.box-one,
.box-two,
.box-three,
.box-four {
    position: relative;
    flex: 1;
}

/*箭头*/
.box-one::after {
    top: 0;
    right: -8px;
    content: "紧急";
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.box-one::after,
.box-two::after {
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 2px solid #ff6633;
    border-right: 2px solid #ff6633;
}


.box-two::after {
    right: 2px;
    bottom: -8px;
    content: "重要";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.box-one,
.box-two,
.box-three,
.box-four {
    border: 1px solid #ff6633;
}

.one-content,
.two-content,
.three-content,
.four-content {
    flex-wrap: wrap;
    flex: 1;
    padding: 0 2em;
    border-top: 1px dashed #ff6633;
}

.wrap-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

